.round{
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
.single-doctor{
    border: 1px solid gray;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 5px;
}
.button{
    border: none;
    color: #fff;
    background-color: limegreen;
    padding: 10px 20px;
    border-radius: 5px;
}