.round{
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
.single-doctor{
    border: 1px solid gray;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 5px;
    background-color: rgba(56, 238, 56, 0.205);
}
.button{
    border: none;
    color: #fff;
    background-color: #43A047;
    padding: 10px 20px;
    border-radius: 5px;
}
p{
    margin-bottom: 3px !important
}